.gitignore
'''gitignore handling of the docs branch.

The docs branch will be pushed separately to a github page for proper viewing of html and by users.

This will be achieved by using the .gitignore inside the docs folder for different handling in the qa branch for documentation
- the main branch docs/.gitignore will have a wildcard * to not upload any docs files to the main branch.
- the docs branch docs/.gitignore will have the not wildcard !* to upload all docs files to the qa branch.
'''
